@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@700&family=Playfair+Display:ital,wght@0,400;1,400&family=Poppins:wght@800&family=Roboto+Slab:wght@700&family=Roboto:wght@700&display=swap');

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #333; /* Dark text color */
  min-height: 100%; /* Ensure it covers full height */
  background-color: white; /* Revert to white background */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling with scrollbar when content overflows */
}

@keyframes flowBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}